ALLOWED_ORIGINS=http://localhost:3000,http://13.204.212.192:8000,https://the-wall-fawn.vercel.app/
SUPABASE_URL=https://kokrlmxiiuxadvgjfjit.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtva3JsbXhpaXV4YWR2Z2pmaml0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEwNzUyNCwiZXhwIjoyMDk2NjgzNTI0fQ.Q9lpwjxc-y56-zntCEIUEfSJdyRx4D2O2QRLTZ-ebx4
GROQ_API_KEY=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